.div1{
    margin: 50px;
    margin-left: 45%;
}
.stretch{
    background-color: green;
    color: white;
    box-shadow: none;
    padding: 10px;
    width: 150px;
}
.div2{
    margin: 50px;
    margin-left: 45%;
}
.click {
    background: hsl(0, 0%, 0%);
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
  .front {
    display: block;
    padding: 12px 42px;
    border-radius: 12px;
    font-size: 1.25rem;
    background: rgb(147, 188, 220);
    color: white;
    transform: translateY(-6px);
  }

  .click:active .front {
    transform: translateY(-2px);
  }
  .div3{
    margin: 50px;
    margin-left: 45%;
  }
.d4{
    margin: 50px;
    margin-left: 45%;
    }
.b{
    background-color: green;
    color: white;
    margin-top: 7px;
    margin-left: 5px;
    height: 30px;
    width: 60px;
    font-size: medium;
}